@import url(reset.css);

/* base */
.App {
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(58, 58, 58)
}


main{
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

h2{
  padding: 15px;
  font-size: x-large;
}

.header{
  position: relative;
  left: 0%;
  padding: 1%;
  height: 10%;
  background-color: rgb(228, 228, 228);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 20px -20px;
}

.footer{
  background-color:rgb(228, 228, 228);
  position: fixed;
  width: 100%;
  padding: 1%;
  bottom: 0%;
  text-align: center;
}

/* status design */
.container1{
  border: solid 2px rgb(204, 202, 202);
  width: 25%;
  background-color: rgba(245, 245, 245, 0.548);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.v_stat{
  padding: 5%;
  border-bottom: rgb(231, 230, 230) solid 1px;
}

.v_stat:hover{
  background-color: rgb(233, 235, 235);
}

.head2{
  display: flex;
  justify-content: space-between;
}

.details{
  text-decoration: none;
  padding-top: 20px;
  padding-right: 10px;
}

.v_num{
  color: aliceblue;
}

.bg{
  line-height: 180%;
  text-align: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

#Active{
  background-color: rgb(31, 196, 105);
}

#Inactive{
  background-color: rgb(0, 110, 255);
}

#InShop{
  background-color: rgb(255, 175, 1);
}


/* condition design */

.container2{
 width: auto;
  margin-left: 2%;
  padding: 0 4% 2% 4%;
  border: solid 2px rgb(204, 202, 202);
  background-color: rgba(245, 245, 245, 0.548);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.all_cond{
  display: flex;
  justify-content: space-around;
}
.cond_sec{
  border: solid 2px rgb(204, 202, 202);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 1%;
}

.row{
  margin: 20% 0;
  border-bottom: solid 1px rgb(180, 178, 178);
}

.cond_title, .v_nums{
  font-size: larger;
  font-weight: bold;
  padding-bottom: 2%;
}

#Good{
  color: #29b345;
}

#Critical{
  color: #D9534F;
}

#Satisfactory{
  color: #fcba03;
}

/* consumption design  */

.container3{
  width: 80%;
  background-color: rgba(245, 245, 245, 0.548);
  border: solid 2px rgb(204, 202, 202);
  border-radius: 5px;
  margin: 1% 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fuel_cost{
  padding: 2%;
}
.p{
  padding: 10px;
}

.butns{
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

button{
  color: rgb(255, 255, 255);
  padding: 2% 6%;
  border-radius: 20px;
  background-color: rgb(33, 194, 243);
}

button:hover{
  background-color: rgba(33, 194, 243, 0.473);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active{
  background-color: cadetblue;
}